# Logs
logs
*.log

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release


*.tgz

# dotenv environment variables file
.env

# Go package
pkg

dev
.DS_Store
dev_s
dist
.idea
.vscode

